body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
  background-image: url("pizarra.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  color: #f83a3a;
}

#gameArea {
  min-width: 500px;
  height: 90vh;
  border: 2px solid #ccc;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

/* Contenedor para las métricas del juego */
div#metricsContainer {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  padding: 0px;
  margin-top: -20px;
}

#timerArea {
  font-size: 24px;
  font-weight: bold;
  color: red;
  margin-right: 40px;
  padding-top: 5px;  
}

#statusArea {
  font-size: 18px;
  font-weight: bold;
  width: 40%;
  display: flex;
  align-items: start;
  margin-top: -10px;
}

/* Áreas de texto e información */
#scoreArea,
#difficultyArea,
#livesArea {
  font-size: 1.2em;
  margin-bottom: 20px;
}

#questionAndInput {
  display: flex;
  align-items:start;
  justify-content: space-between;
}

#questionArea {
  margin-right: 40px; /* Añadir 20px de margen a la derecha */
  padding-top: 5px;
  font-size: 24px;
  font-weight: bold;
}

#numericKeypad button {
  width: 6vw; /* 10% del ancho del viewport */
  height: 6vw; /* 10% del ancho del viewport para mantener la proporción */
  font-size: 5vw; /* Tamaño de fuente relativo al ancho del viewport */
  margin: 0.5vw;
  cursor: pointer;
}

/* Personalización de colores */
#livesArea {
  color: red;
}
#scoreArea {
  color: green;
}

input#userInput {
  width: 50px; /* Ancho del cuadro */
  height: 40px; /* Altura del cuadro */
  font-size: 24px; /* Tamaño de la fuente */
  background-color: #ffd700;
  margin-left: 2px; /* Añadir 2px de margen a la izquierda */
}

button {
  background-color: #ffd700; /* Un amarillo dorado */
  color: #000000; /* Texto en negro para contraste */
  border: none;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 8px; /* Bordes redondeados para un look suavizado */
  box-shadow: 2px 2px 4px #000000; /* Una sombra sutil para dar profundidad */
}

button:hover {
  background-color: #ffea00; /* Un amarillo más claro para el hover */
}

#deleteButton {
  font-size: 4vw !important; /* Ajusta esto según el tamaño que prefieras */
}

#gameContainer {
  margin-top: -20px;
}

#subContainer {
  display: flex;
  justify-content: space-between;
}

#numericKeypad {
  width: 36%;
}

#soldiersArea {
  width: 60%;
  height: 72vh;
  display: flex;
  justify-content: space-between;
}

#area1 {
  width: 52%;
  text-align: right;
}

#area2 {
  width: 48%;
  text-align: center;
}

.soldierImage1 {
  height: 2.5vw;
}

.soldierImage4 {
  height: 8vw;
}

.signImage {
  height: 3vw;
}

.signsContainer {
  display: flex;
}

.signTop {
  width: 90%;
  display: flex;
  justify-content: center; /* Centrado horizontal de la imagen del signo */
}

.signLeft {
  display: flex;
  align-items: center; /* Centrado vertical de la imagen del signo */
  width: 10%; /* Ancho angosto para el div izquierdo */
}

.rectangle {
  width: 90%;
  text-align: center; 
}

.hidden {
  visibility: hidden;
}

@media (max-width: 800px) {
  #soldiersArea {
    height: 28vw;
  }
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparente */
  color: white;
  text-align: center;
  padding: 5px 0;
  font-size: 0.8rem;
}
